.tableWrapper {
  overflow-x: auto;
  overflow-y: visible;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  min-width: 1280px;
}

td, th { padding: $space; }

thead {
  position: relative;
  // Dang borders pushing us around.
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: $borderColor;
    width: 100%;
  }
}

.saveColumn  { width: 60px; }
.positionColumn {
  width: 400px;
  padding-left: $space * 4;
  @media (max-width: $mob) { padding-left: $space }
}
.companyColumn { width: 300px; }
.typeColumn { width: 170px; }
.locationColumn { width: 300px; }
.salaryColumn { width: 200px; }
