.tableHeader {
  border-bottom: 1px solid $borderColor;
  margin-bottom: $space;
  width: 100%;
}

.positionColumn {
  width: 400px;
  overflow: hidden;
}

.filterByPostionControl {
  width: 100%;
  overflow: hidden;
  button { width: 100%; }
}
