@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

html, body {
  font-family: "Martian Mono", monospace;
  font-size: 0.9em;
  color: $textMain;
  line-height: calc($space * 4);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, body * {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  line-height: inherit;
  box-sizing: border-box;
}

div, header, footer, ul, li {
  display: flex;
  flex-direction: column
}

