@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

html, body {
  font-family: "Martian Mono", monospace;
  font-size: 0.9em;
  color: $textMain;
  line-height: calc($space * 4);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: initial;
}

body { background: #383838; }

body, body * {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  line-height: inherit;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $textGrey transparent;
}

div, header, footer, ul, li, form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: initial;
}


