p {
  line-height: calc($space * 3);
}

a, button.major, button.minor {
  color: $textMain;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;

  &:disabled {
    cursor: not-allowed;
  }
}

button.major, button.minor {
  background: none;
  font-size: inherit;
  border: 0;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
}

a.major, button.major {
  font-weight: 700;
}

a.minor, button.minor {
  color: $textGrey;
  text-decoration-color: #CACACA;
  outline: none;
  
  &:hover, &:focus {
    color: $textMain;
    text-decoration-color: $textMain;
  }

  &:disabled:hover, &:disabled:focus {
    color: $textGrey;
    text-decoration-color: $textGrey;
  }
}

button.buttonMajor, button.buttonMinor {
  outline: 3px solid transparent;
  background: $textMain;
  min-width: 44px;
  height: 44px;
  padding: 0 $space;
  color: $textLight;
  border: 0;
  border-radius: calc($space / 2);

  &:disabled { 
    color: $textGrey; 
    cursor: not-allowed;
    outline: 3px solid transparent;
    &:hover, &:focus { outline: 3px solid transparent; }
  }

  &:hover, &:focus { outline: 3px solid $outlineColor; }
}

button.buttonMinor {
  background: #cecece;
  color: $textMain;
}

button abbr {
  &::after { content: "/" }
  &:last-of-type::after { content: "" }
}
