$space: 10px;
$textMain: #404149;
$textGrey: #949494;
$textLight: #f3f3f3;
$borderColor: #D9D9D9;
$transition: all 0.25s ease-in-out;
$bgLight: #f3f3f3;
$outlineColor: rgba(0, 0, 0, 0.1);

// Breakpoints
$mob: 600px;

// zIndexii
$topIndex: 2000;
