// ToDo: Might be worth reworking this.
.controlListWrapper {
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  button { min-height: 40px; }
  .curtainWrapper { width: 100%; }
}

ul.controlList {
  flex-direction: row;

  > li {
    flex-direction: row;
    &::after { content: ",\00a0"; }
    &:last-of-type::after { display: none; }
  }

  > li:last-of-type {
    overflow: hidden;
    flex: 1;

    span {
      display: block;
      width: calc(100% - 20px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
