.mainFilters {
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc($space * 4);
  row-gap: 0;
  padding: $space;

  > div {
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc($space * 4);
    row-gap: 0;
  }

  // The spacer will push the controls all the way to the right.
  > div.spacer { flex: 1 1 auto; }

  @media (max-width: $mob) {
    padding: 0;
    flex-direction: column;
    
    // Set everything up in rows, add spacing and dividers.
    > div {
      padding: $space;
      flex: 1 1 auto;
      border-bottom: 1px solid $borderColor;
      order: 0;
      justify-content: space-between;
      grid-column: calc($space * 2);
      align-self: stretch;
    }

    > div:nth-of-type(1) { order: 1; }
  }
}


